html, body, .map {
    width:100%;
    height:100%;
    margin:0;
}

.leaflet-right .leaflet-bar {
    width: 27px;
}

.leaflet-control-layers-toggle {
    height: 26px;
    width: 27px;
    background-size:20px;
}

.cellsearch-label {
    width:40px;
    display:inline-block;
}

.cellsearch-input {
    width: 60px;
}

.cellsearch-line {
    padding: 0.1em;
}

.search-cell-control {
    background: none repeat scroll 0 0 white;
    border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    padding: 0.5em;
}

.awesome-marker i {
    font-style: normal;
}

.leaflet-control-loader {
    z-index: 1000;
}

@media (max-width: 640px) {
    .leaflet-bottom .leaflet-control-scale {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .leaflet-bottom .leaflet-control-scale {
        margin-bottom: 40px;
    }
}
